*,
::before,
::after{
    margin: 0;
    padding: 0;

    -webkit-tap-highlight-color: transparent;/*清除点击默认的高亮效果*/

    -webkit-box-sizing: border-box;/*以你的border开始计算你的宽度*/

}
body{
    min-width: 1000px;
}
/* 清除浮动 */
.clerk{
    clear: both;
}
/* 项目的大标题nav*/
.logo_baoming_nav_box{
}
.logo_baoming_nav{
    width: 90%;
    height: 80px;
    margin:0 auto;
    background-color: #055c92;
}
.logo_baoming_nav .school_logo{
    width: 80px;
    height: 80px;
    float: left;
}
.logo_baoming_nav p{
    float: left;
    line-height: 80px;
    font-size: 33px;
}
.logo_baoming_nav .school_logo img{
    width: 80px;
    height: 80px;
}
.logo_baoming_nav .baoming{
    float: right;
}
.logo_baoming_nav .baoming a{
    text-decoration: none;
    display: block;
    width: 70px;
    height: 28px;
    float:right;
    border:1px solid #000;
    margin-right: 5px;
    margin-top:25px;
    font-size: 15px;
    color: #000;
    line-height: 28px;
    text-align: center;
    font-family: "微软雅黑";
}
.logo_baoming_nav .baoming a:hover{
    width: 72px;
    height: 30px;
    margin-right: 3px;
}
/*二级页面的目录nav*/
.er_nav{
    width: 90%;
    height: 30px;
    background-color: #dddddd;
    margin:0 auto;
    position: relative;
}
.er_nav ul{
    display: block;
    list-style: none;
    width:100%;

}
.er_nav ul li{
    height: 100%;
    width: 10%;
    float: left;
    line-height: 30px;
    text-align: center;
}
.er_nav ul li a{
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    font-family: "微软雅黑";
    color:#322;
}

.se{
    background-color:#055c92;

}
.er_nav ul li a:hover{
    display: block;
    color: #000;
    background-color:#055c92;
}
/*版权*/
.copyright{
    font-size: 12px;
    color:#333;
    height: 30px;
    background-color:#055c92;
    line-height: 30px;
    text-align: center;
    margin:0 auto;
    margin-top: 4px;
    width: 90%;
    height: 30px;
   
   }
   .products .main .pcwidth {
    height: 500px;
    overflow: auto;
   }